/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Стили для всей страницы */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #FFFFFF;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Основной стиль для всех кнопок */
.button {
  background: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
}

/* Навигация */
.main-header {
  display: flex;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

/* Логотив в навигации */
.navigation-logo {
  margin-right: 30px;
  position: relative;
  width: 139px;
}

/* Картинка логотипа в навигации */
.navigation-logo img {
  position: absolute;
}

/* Левая часть навигации */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Пункты в левой части навигации */
.navigation-list .navigation-link {
  display: block;
  padding: 20px 0 18px 0;
  margin: 0 17px 0 17px;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

/* Активный пункт в левой части навигации */
.navigation-list .navigation-link-сurrent {
  border-bottom: 2px solid #756257;
}

/* Правая часть навигации */
.navigation-user {
  display: flex;
  margin-left: auto
}

/* Иконки в правой части навигации */
.navigation-user .navigation-link {
  padding: 20px 12px;
}

/* Кнопка в правой части навигации */
.navigation-user .button {
  box-sizing: border-box;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 9px 15px;
  min-width: 160px;
  min-height: 37px;
}

.main-container {
  flex-grow: 1;
}

/* Приветствие */
.hero-container {
  background-color: #81B3D3;
  background: url("../images/hero-background-divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: contain, auto;
  background-position: bottom, top;
}

/* Логотип приветствия */
.hero-logo {
  padding-top: 51px;
  padding-bottom: 82px;
  display: block;
  margin: 0 auto;
}

/* Заголовок преимуществ */
.advantages-title {
  margin-top: 63px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

/* Описание преимуществ */
.advantages-description {
  margin-top: 31px;
  margin-bottom: 90px;
  text-align: center;
  color: #333333;
}

/* Карточки преимущества */
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

/* Карточка преимущества */
.advantages-item {
  margin: 0;
  padding: 92px 85px;
}

/* Карточка в преимуществах */
.advantages-item-img {
  grid-column: span 2;
  display: flex;
}

.advantages-item-dark-blue {
  background-color: #81B3D3;
  color: #ffffff;
}

.advantages-item-blue {
  background-color: #83B3D333;
}

.advantages-item-light-blue {
  background-color: #83B3D31F;
}

/* Заголовок преимущества */
.advantages-item-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* Иконка внутри карточки преимущества */
.advantages-item svg {
  margin-bottom: 30px;
}

/* Порядковый номер преимущества */
.advantages-item-number {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
}

/* Описание преимущества */
.advantages-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item-dark-blue .advantages-item-description {
  color: #ffffff;
}

/* Поиск гостиниц */
.hotel-search {
  text-align: center;
}

/* Заголовок поиска гостиниц */
.hotel-search-title {
  margin: 0;
  margin-top: 91px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Описание поиска гостиниц */
.hotel-search-description {
  margin: 0;
  margin-top: 29px;
  margin-bottom: 56px;
  color: #333333;
}

/* Кнопка поиска гостиниц */
.hotel-search .button {
  width: 574px;
  height: 60px;
}

/* Подписка */
.subscribe {
  margin-top: 93px;
  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
  text-align: center;
  color: #FFFFFF;
  background-color: #81B3D3;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-title {
  margin: 0;
  padding-top: 94px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  padding-top: 29px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  max-width: 800px;
  height: 60px;
  margin-left: 200px;
  padding-top: 46px;
  padding-bottom: 94px;
}

.subscribe-form input {
  box-sizing: border-box;
  padding: 0;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 18px;
  line-height: 21px;
  padding-left: 24px;
}

.subscribe-form .button {
  margin: 0;
  background: #82B3D3;
  padding: 0;
  border-radius: 0 10px 10px 0;
}

/* Фильтры для выбора гостиницы */
.catalog-filter {
  box-sizing: border-box;
  padding: 35px 70px 70px 70px;
  color: #FFFFFF;
  background-color: #81B3D3;
  background: url("../images/catalog/catalog-filter-background.jpg") no-repeat;
  background-size: 100% auto;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

/* Хлебные крошки */
.breadcrums {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrums-item-home {
  background: url("../images/catalog/home.svg") no-repeat;
}

.breadcrums-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  list-style: none;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-infa {
  margin-right: 70px;
}

.catalog-filter-type {
  margin-right: 175px;
}

.catalog-filter-price {
  margin-left: auto;
}

.inner-container-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

/* Сортировка карточек */
.sorting-container {
  align-items: center;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 56px;
}

.search-results-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-results .select-control {
  margin-left: auto;
  margin-right: 78px;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
  width: 290px;
  height: 50px;
  appearance: none;
  background-image: url("../images/catalog/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 20px;
}

.display-type {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.display-type-item .button {
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.display-type-item .button-сurrent {
  border: 2px solid #000000;
}

.display-type-item:not(:last-child) {
  margin-right: 8px;
}

/* Карточки жилья */
.housing-list {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 30px;
  padding: 0 0 66px 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  justify-content: space-around;
  column-gap: 18px;
  border-bottom: 1px solid #E6E6E6;
}

/* Карточка жилья */
.housing-card {
  padding: 20px 20px 0 20px;
  list-style: none;
}

.housing-card-content {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 16px;
  row-gap: 20px;
}

/* Изображение в карточке жилья */
.housing-card img {
  display: flex;
  padding-bottom: 16px;
}

/* Название в карточке жилья */
.housing-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 16px;
}

/* Тип в карточке жилья */
.housing-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Стоимость в карточке жилья */
.housing-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Звездочки рейтинга в карточке жилья
   2 Звезды                         */
.housing-card-star-2 {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat;
  background-position: 0 10px, 24px 10px;
}

/* 3 Звезды */
.housing-card-star-3 {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat;
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px;
}

/* 4 Звезды */
.housing-card-star-4 {
  background-image: url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg"), url("../images/catalog/star.svg");
  background-repeat: no-repeat;
  background-position: 0 10px, 24px 10px, 48px 10px, 72px 10px;
}

/* Рейтинг в карточке жилья */
.housing-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
}

/* Кнопки в карточке жилья */
.housing-card .button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  min-height: 37px;
}

/* Кнопка "В Избранное" в карточке жилья */
.housing-card .button-blue {
  background-color: #82B3D3;
}

/* Активная кнопка в карточке жилья */
.housing-card .button-сurrent {
  background-color: #7DB54F;
}

/* Пагинация */
.pagination-container {
  display: flex;
  margin-bottom: 25px;
  margin-left: 70px;
  margin-right: 70px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.select-control-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.select-control-container .select-control {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding-left: 20px;
  width: 160px;
  height: 50px;
  appearance: none;
  background-image: url("../images/catalog/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 20px;
}

.select-control-container p {
  font-size: 18px;
  line-height: 21px;
  margin-right: 50px;
}

/* Подвал сайта */
.main-footer {
  display: flex;
  box-sizing: border-box;
  padding: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item .button {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 50px;
}

.footer-contacts-phone {
  margin-left: auto;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.htmlacademy-link {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
